iss02.flow
[{"id":"3b275e06.ab9092","type":"template","z":"65a4823e.6d94a","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":360,"y":120,"wires":[["6bd86eff.e2027c"]]},{"id":"734ecba1.d2af8","type":"http in","z":"65a4823e.6d94a","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":143.5,"y":119.25,"wires":[["3b275e06.ab9092"]]},{"id":"6bd86eff.e2027c","type":"http response","z":"65a4823e.6d94a","name":"","statusCode":"","headers":{},"x":570,"y":120,"wires":[]},{"id":"fd0c1c20.05c498","type":"http request","z":"65a4823e.6d94a","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":330,"y":200,"wires":[["723cbd01.c33e0c","3b038ecd.18434e","5c133c53.c60224","b389a3e.0b3eca"]]},{"id":"723cbd01.c33e0c","type":"debug","z":"65a4823e.6d94a","name":"IssiPos","active":false,"console":"false","complete":"payload","x":320,"y":160,"wires":[]},{"id":"88cd4c19.757e78","type":"inject","z":"65a4823e.6d94a","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":150,"y":200,"wires":[["fd0c1c20.05c498"]]},{"id":"ebb594c0.357758","type":"ui_template","z":"65a4823e.6d94a","group":"4307e3f7.5d3514","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":570,"y":80,"wires":[[]]},{"id":"3b038ecd.18434e","type":"function","z":"65a4823e.6d94a","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["bce96ed4.1438e","946f98c6.9251d8"]]},{"id":"bce96ed4.1438e","type":"ui_text","z":"65a4823e.6d94a","group":"12f58afd.8d3d75","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":760,"y":200,"wires":[]},{"id":"946f98c6.9251d8","type":"ui_text","z":"65a4823e.6d94a","group":"12f58afd.8d3d75","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":760,"y":240,"wires":[]},{"id":"be1ddd0d.1613c","type":"ui_gauge","z":"65a4823e.6d94a","name":"","group":"7dc4aba3.81dcd","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1290,"y":780,"wires":[]},{"id":"41ca8bf3.634eec","type":"ui_gauge","z":"65a4823e.6d94a","name":"","group":"7dc4aba3.81dcd","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1290,"y":740,"wires":[]},{"id":"483e5c0a.6aabc","type":"ibmiot in","z":"65a4823e.6d94a","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":770,"y":740,"wires":[["87c60181.40f7","a36a619.afc05a","7c1b9106.742d38","3be2c49d.d1c6f4","97bc2159.783cb","d2af4708.00cf8"]]},{"id":"b389a3e.0b3eca","type":"function","z":"65a4823e.6d94a","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":230,"y":380,"wires":[["eed515a0.4c4bc8","f568da53.ceac08","7429299c.a83b8c"]]},{"id":"a4b2fa14.1237b8","type":"e-mail","z":"65a4823e.6d94a","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1270,"y":380,"wires":[]},{"id":"a1636f74.19dc78","type":"function","z":"65a4823e.6d94a","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":930,"y":380,"wires":[["a4b2fa14.1237b8","bd67baf8.d07cd8"]]},{"id":"6ce50ac5.8c1da8","type":"inject","z":"65a4823e.6d94a","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":930,"y":440,"wires":[["a1636f74.19dc78"]]},{"id":"bd67baf8.d07cd8","type":"debug","z":"65a4823e.6d94a","name":"email","active":false,"console":"false","complete":"true","x":1150,"y":440,"wires":[]},{"id":"197f59e2.1ae90e","type":"function","z":"65a4823e.6d94a","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":190,"y":900,"wires":[[]]},{"id":"dfa26862.d4d0d8","type":"delay","z":"65a4823e.6d94a","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":160,"y":540,"wires":[["47a4b259.aa8cf"]]},{"id":"f05a90a7.353f","type":"ibmiot out","z":"65a4823e.6d94a","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":690,"y":540,"wires":[]},{"id":"d51f5ec1.0cadc","type":"comment","z":"65a4823e.6d94a","name":"Check the Code below","info":"","x":240,"y":340,"wires":[]},{"id":"b1ddc274.0e653","type":"comment","z":"65a4823e.6d94a","name":"IssWebPage","info":"","x":327.2222222222222,"y":77.5,"wires":[]},{"id":"534d87f.2740ff8","type":"comment","z":"65a4823e.6d94a","name":"#2 Use Your GMAIL account","info":"","x":1220,"y":340,"wires":[]},{"id":"96a65582.fa2cc8","type":"inject","z":"65a4823e.6d94a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":580,"wires":[["47a4b259.aa8cf"]]},{"id":"adf3a88d.d17f68","type":"comment","z":"65a4823e.6d94a","name":"#1 Adjust the candle number","info":"","x":960,"y":480,"wires":[]},{"id":"8bc9ba7b.685b68","type":"comment","z":"65a4823e.6d94a","name":"#1 Adjust the candle number","info":"","x":780,"y":700,"wires":[]},{"id":"87c60181.40f7","type":"debug","z":"65a4823e.6d94a","name":"InComing","active":false,"console":"false","complete":"payload","x":760,"y":800,"wires":[]},{"id":"a36a619.afc05a","type":"function","z":"65a4823e.6d94a","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1090,"y":700,"wires":[["f99b04f2.812168"]]},{"id":"7c1b9106.742d38","type":"function","z":"65a4823e.6d94a","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":740,"wires":[["41ca8bf3.634eec"]]},{"id":"3be2c49d.d1c6f4","type":"function","z":"65a4823e.6d94a","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":780,"wires":[["be1ddd0d.1613c"]]},{"id":"f99b04f2.812168","type":"ui_gauge","z":"65a4823e.6d94a","name":"","group":"7dc4aba3.81dcd","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1290,"y":700,"wires":[]},{"id":"6acd15dc.0140cc","type":"function","z":"65a4823e.6d94a","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":520,"y":460,"wires":[["f05a90a7.353f","643c054f.7b9378"]]},{"id":"173e4d6e.f42767","type":"function","z":"65a4823e.6d94a","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":520,"wires":[["f05a90a7.353f"]]},{"id":"71ac6a3c.531e","type":"function","z":"65a4823e.6d94a","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":660,"wires":[["f05a90a7.353f"]]},{"id":"d840310a.f1d3a","type":"inject","z":"65a4823e.6d94a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":160,"y":620,"wires":[["71ac6a3c.531e"]]},{"id":"47a4b259.aa8cf","type":"function","z":"65a4823e.6d94a","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["f05a90a7.353f"]]},{"id":"2170579.88e5b28","type":"comment","z":"65a4823e.6d94a","name":"#3 Check email text","info":"","x":910,"y":340,"wires":[]},{"id":"eed515a0.4c4bc8","type":"switch","z":"65a4823e.6d94a","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":420,"y":380,"wires":[["dfa26862.d4d0d8","ad21a0d4.d3bcd","173e4d6e.f42767","493c5aeb.05fd94"],["6acd15dc.0140cc"]]},{"id":"ad21a0d4.d3bcd","type":"delay","z":"65a4823e.6d94a","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":660,"y":380,"wires":[["a1636f74.19dc78"]]},{"id":"643c054f.7b9378","type":"debug","z":"65a4823e.6d94a","name":"Not in area","active":true,"console":"false","complete":"true","x":690,"y":460,"wires":[]},{"id":"f568da53.ceac08","type":"debug","z":"65a4823e.6d94a","name":"Check","active":false,"console":"false","complete":"payload","x":210,"y":440,"wires":[]},{"id":"7d8dbcb6.0eac08","type":"ui_text","z":"65a4823e.6d94a","group":"12f58afd.8d3d75","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":760,"y":300,"wires":[]},{"id":"7429299c.a83b8c","type":"function","z":"65a4823e.6d94a","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":300,"wires":[["7d8dbcb6.0eac08"]]},{"id":"6a6ce713.ceaf","type":"function","z":"65a4823e.6d94a","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":780,"wires":[["f05a90a7.353f"]]},{"id":"c9fd3d25.fcc69","type":"ui_button","z":"65a4823e.6d94a","name":"","group":"12f58afd.8d3d75","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":176.875,"y":820.625,"wires":[["6a6ce713.ceaf"]]},{"id":"493c5aeb.05fd94","type":"debug","z":"65a4823e.6d94a","name":"In Area","active":true,"console":"false","complete":"true","x":560,"y":340,"wires":[]},{"id":"e5bb99a4.86b42","type":"comment","z":"65a4823e.6d94a","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":130,"y":1040,"wires":[]},{"id":"97bc2159.783cb","type":"function","z":"65a4823e.6d94a","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1100,"y":640,"wires":[["9aa69578.1a83e"]]},{"id":"9aa69578.1a83e","type":"ui_text","z":"65a4823e.6d94a","group":"7dc4aba3.81dcd","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":640,"wires":[]},{"id":"5c133c53.c60224","type":"function","z":"65a4823e.6d94a","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":180,"wires":[["b57183c.134134","7313fa15.55bd"]]},{"id":"d2af4708.00cf8","type":"function","z":"65a4823e.6d94a","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1090,"y":600,"wires":[["870ae10c.6a82b"]]},{"id":"870ae10c.6a82b","type":"ui_text","z":"65a4823e.6d94a","group":"7dc4aba3.81dcd","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1300,"y":600,"wires":[]},{"id":"5c813744.4af244","type":"ui_button","z":"65a4823e.6d94a","name":"","group":"12f58afd.8d3d75","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":170,"y":720,"wires":[[]]},{"id":"b57183c.134134","type":"function","z":"65a4823e.6d94a","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":120,"wires":[["3a15edf1.68092a","cb5dfad3.162448"]]},{"id":"3a15edf1.68092a","type":"ui_text","z":"65a4823e.6d94a","group":"12f58afd.8d3d75","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":1010,"y":120,"wires":[]},{"id":"7313fa15.55bd","type":"ui_chart","z":"65a4823e.6d94a","name":"","group":"12f58afd.8d3d75","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":767.2222222222222,"y":163.88888888888888,"wires":[[],[]]},{"id":"f8ecaa55.022748","type":"ui_text","z":"65a4823e.6d94a","group":"12f58afd.8d3d75","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":980,"y":80,"wires":[]},{"id":"cb5dfad3.162448","type":"function","z":"65a4823e.6d94a","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = msg.distance *6*60;\nreturn msg;","outputs":1,"noerr":0,"x":780,"y":80,"wires":[["f8ecaa55.022748"]]},{"id":"4307e3f7.5d3514","type":"ui_group","z":"","name":"ISS Area","tab":"5eaf9d22.f5ac54","order":1,"disp":true,"width":"12"},{"id":"12f58afd.8d3d75","type":"ui_group","z":"","name":"ISS Infos","tab":"5eaf9d22.f5ac54","order":2,"disp":true,"width":"6"},{"id":"7dc4aba3.81dcd","type":"ui_group","z":"","name":"FromPI","tab":"5eaf9d22.f5ac54","order":3,"disp":true,"width":"6"},{"id":"5eaf9d22.f5ac54","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
